.edit-profile-page {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  color: #333;
  margin-top: 15px;
  text-align: left;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 12px 24px;
  }
}
