
.profile-page {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}


.profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; 
  margin-bottom: 30px;
}

.profile-headers {
  font-size: 32px;
  color: #333;
  margin: 0;
  flex-grow: 1;
}

.edit-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  flex-shrink: 0;
  letter-spacing: 1px;
}

.edit-button:hover {
  background-color: #2980b9;
}

.profile-photo-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 6px solid #fff;
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


.detail {
  margin-bottom: 30px;
  width: 900%;

  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.detail:hover {
  transform: translateY(-5px);
}

.detail p {
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .profile-headers {
    font-size: 28px;
  }

  .edit-button {
    font-size: 16px;
    padding: 12px 24px;
  }

  .profile-photo-container {
    width: 150px;
    height: 150px;
  }

  .detail p {
    font-size: 16px;
  }
}
