.profile-head{
  display: flex;
  justify-content: space-between;
}

.profile-page {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 40px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-headers h1 {
  font-size: 28px;
  color: #333;
  margin: 0;
}

.edit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-details {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail {
  margin-bottom: 25px;
}

.detail p {
  margin: 0;
  font-size: 18px;
  color: #444;
}

.detail strong {
  font-weight: 600;
  color: #333;
}

.profile-photo  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-top: 50px;
}


